
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

a.active {
    font-weight: bold;
}

.header{
    background-color: #ff6600;
    
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto

}

.login{
    float: right;
}

.text1{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 2px;
}

.text2{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.text3{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.text4{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text5{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text6{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text7{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text8{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text9{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text10{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text11{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text12{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text13{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text14{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text15{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text16{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text17{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text18{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text19{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text20{
    background-color: #f6f6ef;
    width: 1300px;
    font-family: "Oxygen";
    display: block;
    margin-left: auto;
    margin-right: auto
}




.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }